@model UserListingsViewModel

@{
    ViewData["Title"] = "User Administration";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary" asp-action="Create">Create new user</a>

<br /><br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                E-mail
            </th>
            <th>
                Enabled
            </th>
            <th>
                Roles
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.Username
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.IsEnabled
                </td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        <div class="row" style="margin-bottom: 6px;">
                            <div class="col-md-6">
                                @role
                            </div>
                            <div class="col-md-6">
                                @if (!(user.Username == "Administrator" && role == "Administrator"))
                                {
                                    <form asp-action="RemoveFromRole" method="post">
                                        <input type="hidden" name="UserId" value="@user.Id" />
                                        <input type="hidden" name="Role" value="@role" />
                                        <input class="btn btn-xs btn-default" type="submit" value="Remove" />
                                    </form>   
                                }
                            </div>
                        </div>
                    }
                    @{ 
                        var aRoles = user
                            .AvailableRoles
                            .Select(r => new SelectListItem()
                            {
                                Text = r,
                                Value = r
                            });

                    }

                    @if (aRoles.Count() > 0)
                    {
                        <form asp-action="AddToRole" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="hidden" name="UserId" value="@user.Id" />
                                    <select name="Role" asp-items="aRoles" class="form-control"></select>
                                </div>
                                <div class="col-md-6">
                                    <input class="btn btn-sm btn-primary" type="submit" value="Add To Role" />
                                </div>
                            </div>
                        </form>
                    }
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-userId="@user.Id">Edit</a>
                </td>

            </tr>
        }
    </tbody>
</table>