@model IEnumerable<ExpenseListingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Element)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Element.Name)
                </td>
                <td>
                    @Html.Partial("_ExpensePayersPartial", item.Payers)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default">Details</a>
                    @if (item.Payers.Any(p => p.Status == PaymentStatus.Payed)) { }
                    else
                    {
                        <span>|</span>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Edit</a>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
